# dependencias
/node_modules
/.pnp
.pnp.*

# build
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# entorno — NUNCA commitear credenciales
.env
.env*.local
!.env.example

# prisma
/prisma/migrations/dev.db*

# testing
/coverage

# vercel
.vercel

# sistema / editores
.DS_Store
Thumbs.db
*.log
npm-debug.log*
.idea/
.vscode/*
!.vscode/extensions.json
